name: minix_flutter
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  get: ^4.7.3
  get_storage: ^2.1.1
  image_picker: ^1.2.1
  timeago: ^3.7.1
  webview_flutter: ^4.13.0
  shared_preferences: ^2.2.2
  http: ^1.2.2
  file_picker: ^8.0.0
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png